In [ ]:
import os

import pandas as pd
from dotenv import load_dotenv

In [8]:
load_dotenv()
root_path = os.getenv("ROOT_PATH")
datasets_dir = os.path.join(root_path, "datasets", "preliminary_merge")

# List all CSV files in the directory
csv_files = [f for f in os.listdir(datasets_dir) if f.endswith(".csv")]

# Import each CSV as a pandas DataFrame and store in a dictionary
dataframes = {}
for file in csv_files:
    df_name = os.path.splitext(file)[0]
    dataframes[df_name] = pd.read_csv(os.path.join(datasets_dir, file))

In [ ]:
dataframes["PRE001-FeminicidiosParejaExpareja"]

,Provincia (As),Año,Mes,VM Grupo de edad,AG Grupo de edad,Feminicidios pareja o expareja,Huérfanas y huérfanos menores de edad -1-
0,Almería,2003,Enero,41-50 años,51-60 años,1.0,0.0
1,Almería,2004,Marzo,21-30 años,31-40 años,1.0,0.0
2,Almería,2004,Julio,31-40 años,41-50 años,1.0,0.0
3,Almería,2005,Marzo,18-20 años,21-30 años,1.0,0.0
4,Almería,2005,Septiembre,18-20 años,No consta,1.0,0.0
...,...,...,...,...,...,...,...
1295,Melilla,2005,Diciembre,31-40 años,41-50 años,1.0,0.0
1296,Melilla,2007,Julio,41-50 años,61-70 años,1.0,0.0
1297,Melilla,2014,Marzo,51-60 años,61-70 años,1.0,0.0
1298,Melilla,2014,Diciembre,18-20 años,31-40 años,1.0,1.0
1299,Melilla,2016,Julio,21-30 años,31-40 años,1.0,1.0